.skibidi{
    margin-top: 5%;
    border-radius: 1vw;
    width:100%;
    text-align: center;
    color:white;
    font-weight: bold;
                padding:2.5%;
                border: 1px solid #ccc;
            background: lightsalmon;
}
.reg{
    color: lightcoral
}
   
            .ocean {
            background: rgba(15, 0, 0, 0.25);
            border-radius: 200% 200% 0 0;
            position: fixed;
            width: 200%;
            height: 40%;
            animation: wave 10s -3s ease infinite;
            opacity: 0.8;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
        .ocean:nth-of-type(2) {
            bottom: -10%;
            animation: wave 18s ease reverse infinite;
            opacity: 0.8;
        }
        .ocean:nth-of-type(3) {
            bottom: -5%;
            animation: wave 20s -5s reverse infinite;
            opacity: 0.9;
        }
        @keyframes wave {
            2% { transform: translateX(1); }
            25% { transform: translateX(-25%); }
            50% { transform: translateX(-50%); }
            75% { transform: translateX(-25%); }
            100% { transform: translateX(1); }
        }
    
    
body, html {
    background: #332d29;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
        .container {
            width: 50%;
            display:flex;
            flex-direction:column;
            margin-left:auto;
            margin-right:auto;
            background: linear-gradient(#6E2939, #72383d);
            padding: 3%;
            border: 1px solid ##72383d;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius:2vw;
            color:white;
            z-index:2;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 10px;
        }
        input[type="text"], input[type="password"] {
            width: 95%;
            padding:2.5%;
            border: 1px solid #ccc;
            background: #FCDCDC;
            border-radius:1vw;
        }